<ion-content class="bg-class" [scrollEvents]="true">
    <ion-refresher slot="fixed" color="none" (ionRefresh)="Refresh($event)" class="refresh">
        <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
    </ion-refresher>
    <!-- <ion-searchbar class="bg-class" animated [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}" [showCancelButton]="true" (input)="search($event.target.value)" (ionClear)="onCancel($event)"></ion-searchbar> -->
    <h1 class="headertitle"> BRadio </h1>
    <ion-button *ngFor="let Radio of soundRadio;let i=index" class="button_width ionbutton" (click)="addAudio(i)" id="h_{{i}}" color="white" fill="clear" id="search">
        <div class="width_50 text">
            <h4 class="fontblack margin-top-5">{{Radio.name}}</h4>
            <h6 class="fontblack margin-top-10">{{Radio.FM}}</h6>
        </div>
        <div class="width_50 padding">
            <img src="{{Radio.image}}" class="image" alt="">
        </div>
    </ion-button>
    <div class="margin_150"></div>
</ion-content>
<ion-footer class="footer" no-border>
    <div class="grid">
        <div class="flex_height70">
            <ion-button color="white" shape="round" class="button_cycle" (click)="previousAudio()" fill="clear" float-start>
                <ion-icon name="skip-backward" class="button_previous" slot="start"></ion-icon>
            </ion-button>
            <div [ngClass]="{'icon-bars1':name ==='play-circle','icon-bars':name ==='pause'}">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <div [ngClass]="{'icon-bars1':name ==='play-circle','icon-bars':name ==='pause'}">
                <div class="bar1"></div>
                <div class="bar1"></div>
                <div class="bar1"></div>
                <div class="bar1"></div>
                <div class="bar1"></div>
                <div class="bar1"></div>
            </div>
            <ion-button id="button" shape="round" class="button_cycle margin_50" (click)="playAudio()" color="white" fill="clear" center>
                <ion-icon id="play_puase" name="{{name}}" [ngClass]="{'button_play':name ==='play-circle','button_pause':name ==='pause'}"></ion-icon>
            </ion-button>

            <ion-button shape="round" class="button_cycle" (click)="nextAudio()" color="white" fill="clear" float-end>
                <ion-icon name="skip-forward" class="button_next" slot="end"></ion-icon>
            </ion-button>
        </div>

        <ion-range #valum (ionChange)="valumAudio(valum.value)" min="0" max="100" value="50" pin color="danger" class="height_20">
            <ion-icon id="icon_voluem" slot="start" size="small" name="{{name_sound}}" class="icon_volume"></ion-icon>
        </ion-range>

        <div class="flex_width100_center">
            <div class="width_50">
                <h5 id="h1">
                    {{soundRadio && soundRadio[play]?.name}}
                </h5>
                <p class="margin-top-10" id="p">
                    {{soundRadio && soundRadio[play]?.FM}}
                </p>
            </div>
            <div class="width_50">
                <img id="imgs1" src="{{soundRadio && soundRadio[play]?.image}}" class="image_footer" alt="">
            </div>
        </div>
    </div>
</ion-footer>