.bg-class {
    // --background: linear-gradient(147deg, rgb(116, 3, 150) 3%, rgb(102, 12, 161) 20.5%, rgb(226, 182, 255) 50.33%, #4864E6 100%) !important;
    // --background: linear-gradient(147deg, rgb(255, 58, 58) 1.33%, rgb(2, 0, 0) 50%, rgb(37, 1, 1) 100%) !important;
    --background: linear-gradient(147deg, rgb(221, 0, 136) 3%, rgb(218, 64, 218) 20.5%, rgb(243, 167, 224) 50.33%, rgb(86, 217, 226) 100%) !important;
    // --background: linear-gradient(147deg, rgb(177, 0, 0) 3%, rgb(175, 5, 5) 20.5%, rgb(231, 31, 65) 50.33%, rgb(204, 1, 103) 100%) !important;
    // --background: linear-gradient(147deg, rgba(41, 38, 38, 0.22) 0%, rgba(37, 22, 30, 0.42) 20.5%, rgba(0, 0, 0, 0.67) 50.33%, rgb(161, 162, 151) 100%) !important;
    padding-bottom: 40px;
}

ion-refresher {
    background: none !important;
}

.header {
    background-color: none;
    position: absolute;
    top: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: none;
    display: inline;
}

.ionbutton:hover {
    opacity: 0.5;
}

.ionbutton {
    opacity: 1;
}

.footer {
    background-color: white;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: none;
    display: inline;
}

.centerItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.padding_bottom200px {
    margin-bottom: 300px;
}

.padding {
    margin-left: 30px;
}

.image {
    border-radius: 15%;
    border: 1px solid thistle;
    width: 100px;
    height: 100px;
    float: right;
}

.margin-top-10 {
    margin-top: -10px;
    font-weight: bold;
}

.margin-top-5 {
    margin-top: -5px;
    font-weight: bold;
}

.image_footer {
    border-radius: 15%;
    border: 1px solid thistle;
    width: 50px;
    height: 50px;
}

ion-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.button_cycle {
    height: 100px !important;
    width: 100px;
    border: white;
    border-radius: 100%;
    --border-color: white;
    --background-color: wheat;
}

.button_width {
    width: 100%;
    height: 100px;
    --background: linear-gradient(147deg, rgb(196, 7, 123) 3%, rgb(233, 6, 233) 10.5%, rgb(243, 167, 224) 20.33%, rgb(86, 217, 226) 100%) !important;
}

.width_50 {
    width: 50%;
    font-size: 6px;
}

.round {
    border-radius: 100%!important;
}

.example-center {
    text-align: center;
}

.button_play {
    color: rgb(243, 11, 61);
    height: 40px;
    width: 60px;
}

.button_pause {
    color: white;
    height: 20px;
    width: 20px;
    background-color: cyan;
    border-radius: 100%;
    padding: 7px;
}

.button_next {
    color: cyan;
}

.button_previous {
    color: cyan;
}

.headertitle {
    text-align: center;
    color: white;
}

.grid {
    display: grid;
}

.flex_height70 {
    display: block;
    height: 70px;
    // border: 1px solid black;
    margin-top: -20px;
    text-align: center;
}

.flex_width100_center {
    display: flex;
    width: 100%;
    text-align: center;
}

.icon_volume {
    color: cyan;
}

.height_20 {
    height: 20px;
}

.margin_150 {
    margin-bottom: 150px;
}

.fontblack {
    color: white;
}

.text {
    text-align: right;
    margin-right: -70px;
    direction: rtl;
}

.btn-wrapper {
    text-align: center;
}

$size: 50px;
$speed:0.7s;
$bar-width: ceil($size / 15);
$gutter-width: floor(($size - $bar-width * 10) / 2);
$bar-color: black;
.icon-bars {
    margin: 100px auto;
    position: absolute;
    width: 100%;
    height: $size;
}

.icon-bars1 {
    display: none;
}

.bar {
    position: absolute;
    margin-left: 22%;
    margin-top: -55px;
    bottom: 80px;
    left: $bar-width + $gutter-width;
    top: 0;
    width: $bar-width;
    background-color: $bar-color;
    animation: up-down $speed infinite;
    &:nth-child(6) {
        left: $bar-width + $gutter-width;
        animation-delay: -$speed / 2;
    }
    &:nth-child(5) {
        left: $bar-width * 2 + $gutter-width * 2;
        animation-delay: -$speed / 2 + 0.4;
    }
    &:nth-child(4) {
        left: $bar-width * 3 + $gutter-width * 3;
        animation-delay: -$speed / 4 + 0.1;
    }
    &:nth-child(3) {
        left: $bar-width * 4 + $gutter-width * 4;
        animation-delay: -$speed / 3 + 0.3;
    }
    &:nth-child(2) {
        left: $bar-width * 5 + $gutter-width * 5;
        animation-delay: -$speed / 2 + 0.1;
    }
    &:nth-child(1) {
        left: $bar-width * 6 + $gutter-width * 6;
        animation-delay: -$speed / 7 + 0.1;
    }
}

.bar1 {
    position: absolute;
    margin-left: 62%;
    margin-top: -55px;
    bottom: 80px;
    left: $bar-width + $gutter-width;
    top: 0;
    width: $bar-width;
    background-color: $bar-color;
    animation: up-down $speed infinite;
    &:nth-child(6) {
        left: $bar-width + $gutter-width;
        animation-delay: -$speed / 2;
    }
    &:nth-child(5) {
        left: $bar-width * 2 + $gutter-width * 2;
        animation-delay: -$speed / 2 + 0.4;
    }
    &:nth-child(4) {
        left: $bar-width * 3 + $gutter-width * 3;
        animation-delay: -$speed / 4 + 0.1;
    }
    &:nth-child(3) {
        left: $bar-width * 4 + $gutter-width * 4;
        animation-delay: -$speed / 3 + 0.3;
    }
    &:nth-child(2) {
        left: $bar-width * 5 + $gutter-width * 5;
        animation-delay: -$speed / 2 + 0.1;
    }
    &:nth-child(1) {
        left: $bar-width * 6 + $gutter-width * 6;
        animation-delay: -$speed / 7 + 0.1;
    }
}

.test {
    position: none;
}

@keyframes up-down {
    from {
        top: $size
    }
    50% {
        top: 0
    }
    to {
        top: $size
    }
}